.modal {
  border-radius: 96px;
  will-change: transform, top, left, width, height;
  -webkit-will-change: transform, top, left, width, height;
}
.modal.expand {
  width: 60vw !important;
  max-width: 800px !important;
  height: 90vh !important;
  max-height: 800px !important;
  left: 20vw !important;
  top: 5vh !important;
  padding: 32px !important;
  border-radius: 64px;
}

@media screen and (min-width: 1333px) {
  .modal.expand {
    width: 800px !important;
    left: calc(50% - 400px) !important;
  }
}
@media screen and (min-height: 889px) {
  .modal.expand {
    height: 800px !important;
    top: calc(50% - 400px) !important;
  }
}

.modal-close {
  top: 24px;
  left: 24px;
  width: 72px;
  height: 72px;
  transform: rotate(-180deg);
  scale: 1;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  transition: 0.8s cubic-bezier(0.64, 1.65, 0.74, 0.88) transform, 0.2s scale,
    0.2s opacity;
}
.expand .modal-close {
  opacity: 1;
  transform: rotate(0deg);
}
.modal-close:hover {
  scale: 1.1;
}
.modal-close:hover img {
  filter: invert(1);
}

.modal-thumbnails {
  height: 100%;
}
.modal.expand .modal-thumbnails {
  height: 40%;
}

.modal-thumbnail-0 {
  filter: blur(50px);
  opacity: 0.4;
  transform: scale(0);
}
.modal.expand .modal-thumbnail-0 {
  transform: scale(1.5);
}

.modal-thumbnail-1 {
  border-radius: 96px;
}
.modal.expand .modal-thumbnail-1 {
  border-radius: 32px;
}

.modal-info {
  transition-delay: 0s;
}
.modal.expand .modal-info {
  opacity: 1;
  transition-delay: 0.3s;
}

@media screen and (max-width: 768px) {
  .modal {
    border-radius: 48px;
  }
  .modal.expand {
    width: calc(100vw - 40px) !important;
    height: calc(100vh - 100px) !important;
    left: 20px !important;
    top: 20px !important;
    padding: 16px !important;
    border-radius: 32px;
  }

  .modal-close {
    top: 8px;
    left: 8px;
    width: 48px;
    height: 48px;
  }

  .modal-thumbnail-1 {
    border-radius: 48px;
  }
  .modal.expand .modal-thumbnail-1 {
    border-radius: 20px;
  }
}
